{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title mb-4">Rejestracja</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary btn-block mt-3">Zarejestruj się</button>
                        </form>
                    </div>
                </div>
                <div class="text-center mt-2">
                    Posiadasz konto? <a href="{% url 'login' %}">Zaloguj się</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
