{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1 class="mb-3">{{ dwarf.name }}</h1>
                {% if user.is_authenticated and has_unlocked %}
                    <p class="text-success">Zdobyty</p>
                {% elif user.is_authenticated %}
                    <p class="text-danger">Niezdobyty</p>
                {% endif %}
                <p><strong>Autor:</strong> {{ dwarf.author }}</p>
                <p><strong>Lokalizacja:</strong> {{ dwarf.address }} ({{ dwarf.location }})</p>
                <p><strong>Opis:</strong> {{ dwarf.description }}</p>
                <img src="{{ dwarf.image_url }}" alt="{{ dwarf.name }}" class="img-fluid">
            </div>
        </div>

        {% if user.is_authenticated %}
            <div class="row mt-4">
                <div class="col">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h2>Komentarze</h2>
                        {% if has_unlocked %}
                            <p class="mb-0">{{ user_comments_count }}/3 umieszczone komentarze</p>
                            {% if user_comments_count < 3 and has_unlocked %}
                                <a href="{% url 'dwarf_comment_create' pk=dwarf.pk %}" class="btn btn-primary">Dodaj komentarz</a>
                            {% endif %}
                        {% else %}
                            <p class="mb-0">Zeskanuj kod QR, aby zdobyć krasnala.</p>
                            <a href="{% url 'scan_qr_code' %}" class="btn btn-primary">Skanuj QR</a>
                        {% endif %}
                    </div>

                    <ul class="list-group">
                        {% for comment in comments %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <p>{{ comment.comment_text }}</p>
                                    <small>{{ comment.user.username }} - {{ comment.comment_date|date:"j F Y, G:i" }}</small>
                                </div>
                                {% if request.user == comment.user %}
                                    <a href="{% url 'dwarf_comment_delete' pk=comment.pk %}" class="text-danger">Usuń komentarz</a>
                                {% endif %}
                            </li>
                        {% empty %}
                            <p>Brak komentarzy.</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="row mt-4">
                <div class="col">
                    <p>Załóż konto, aby zobaczyć komentarze</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}