{% extends 'base.html' %}

{% block content %}

    <div class="text-center">
        <h1 class="mb-4">Strona główna</h1>

        {% block navbar_buttons %}
        <div class="d-flex flex-column align-items-center">
            <a class="btn btn-primary mb-2 w-50" href="{% url 'dwarfs_list' %}">Lista krasnali</a>
            {% if user.is_authenticated %}
                <a class="btn btn-primary mb-2 w-50" href="{% url 'users_ranking' %}">Ranking użytkowników</a>
                <a class="btn btn-primary mb-2 w-50" href="{% url 'user_achievements' %}">Moje osiągnięcia</a>
                <a class="btn btn-primary mb-2 w-50" href="{% url 'user_comments' %}">Moje komentarze</a>
                <a class="btn btn-primary mb-2 w-50" href="{% url 'scan_qr_code' %}">Skanuj QR</a>
            {% endif %}
        </div>
        {% endblock %}
    </div>

{% endblock %}