{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-3">Skanuj kod QR</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="d-flex justify-content-center align-items-center mt-5" style="height: auto;">
                {# Miejsce, gdzie będzie wyświetlany skaner kodów QR #}
                <div id="reader" style="width:100%; height:auto;"></div>
            </div>
        </div>
    </div>
</div>
    {# Biblioteka do skanowania kodów QR #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js" type="text/javascript"></script> {# Dołącza bibliotekę do skanowania kodów QR #}
<script>
    {# Komunikat w konsoli przeglądarki #}
    console.log("Skrypt rozpoczął działanie");
    {# Inicjalizacja skanera kodów QR #}
    const scanner = new Html5QrcodeScanner("reader", {
        fps: 25,
        qrbox: 250
    });

    {# Rozpoczęcie skanowania kodów QR #}
    scanner.render(success, error);

    {# Funkcja wywoływana po pomyślnym zeskanowaniu kodu QR #}
    function success(result) {
        {# Zapytanie do endpointu '/verify_qr_code' z zeskanowanym kodem QR jako ciałem żądania #}
        fetch('/verify_qr_code', {
            {# Metoda żądania POST #}
            method: 'POST',
            {# Ciało żądania to zeskanowany kod QR #}
            body: JSON.stringify({qr_code: result}),
            {# Nagłówek 'Content-Type' ustawiony na 'application/json' #}
            headers: {
                'Content-Type': 'application/json'
            }
            {# Konwersja odpowiedzi na JSON #}
        }).then(response => response.json())
          .then(data => {
            if (data.success) {
                {# Jeśli odpowiedź jest pomyślna, przekierowanie do URL zwróconego w odpowiedzi #}
                window.location.href = data.url;
            } else {
                {# Jeśli odpowiedź nie jest pomyślna, komunikat o błędzie zwrócony w odpowiedzi #}
                alert(data.message);
                if (data.url) {
                    {# Jeśli w odpowiedzi jest URL, przekierowuje użytkownika do tego URL #}
                    window.location.href = data.url;
                }
            }
        });

        {# Czyszczenie skanera #}
        scanner.clear();
        if(document.getElementById('reader')) {
            document.getElementById('reader').remove();
        }
    }

    {# Funkcja wywoływana, gdy wystąpi błąd podczas skanowania #}
    function error(err) {}

</script>
{% endblock %}