{% extends 'base.html' %}

{% block content %}
    <h1>Moje komentarze</h1>
    <div class="list-group">
        {% for comment in user_comments %}
            <a href="{% url 'dwarf_detail' comment.dwarf.id %}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ comment.dwarf.name }}</h5>
                    <small>{{ comment.comment_date|date:"Y-m-d" }}</small>
                </div>
                <p class="mb-1">{{ comment.comment_text }}</p>
            </a>
        {% empty %}
            <p class="list-group-item">Brak komentarzy.</p>
        {% endfor %}
    </div>
{% endblock %}