{% extends 'base.html' %}

{% block content %}
    <style>
    .highlight {
        background-color: lightgray;
    }
    </style>
    <div class="container mt-4">
        <h1 class="mb-3">Ranking użytkowników</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3"><strong>Numer w rankingu</strong></div>
                    <div class="col-md-3"><strong>Nazwa użytkownika</strong></div>
                    <div class="col-md-3">
                        <strong>
                            <a href="?sort_by=num_dwarfs">Liczba odwiedzonych krasnali</a>
                        </strong>
                    </div>
                    <div class="col-md-3">
                        <strong>
                            <a href="?sort_by=num_comments">Liczba komentarzy</a>
                        </strong>
                    </div>
                </div>
            </li>
            {% for user in users %}
                <li class="list-group-item {% if user.username == request.user.username %}highlight{% endif %}">
                    <div class="row">
                        <div class="col-md-3">{{ forloop.counter }}</div>
                        <div class="col-md-3">{{ user.username }}</div>
                        <div class="col-md-3">{{ user.num_dwarfs }}</div>
                        <div class="col-md-3">{{ user.num_comments }}</div>
                    </div>
                </li>
            {% empty %}
                <p>Brak użytkowników.</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}